* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.search-form {
  max-width: 400px;
  margin: 100px auto;
}

input.search {
  margin: 0;
  text-align: center;
  width: 150%;
  left: -25%;
  position: relative;
  font-size: 40px;
  border: 1px grey solid;
  padding: 5px 0;
}